<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>회원가입 페이지</title>

<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- 폰트어썸 -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.41.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">

<script>

	// 달력
	$(function() {
		$("#datePicker").datepicker({
			format: "yyyy-mm-dd",
			showOn: 'button',
			langurage:"kr",
			todayHighlight: true
		});
	});
		
	// 비밀번호 확인
	function pwConfirm() {
		var p1 = document.getElementById('userPw').value;
		var p2 = document.getElementById('pwCheck').value;
		
		if(p1.length < 6) {
			alert('입력한 글자가 6글자 이상이어야 합니다.');
			return false;
		}
		
		if ( p1 != p2 ) {
			$("#alert-success").css('display', 'none');
			$("#alert-danger").css('display', 'inline-block');
		}
		
		else {
			$("#alert-success").css('display', 'inline-block');
			$("#alert-danger").css('display', 'none');
		}
	}
	
	// 성별
	function selectGender(){
		var selectGender = $("#userGenderSel > option:selected").val();
		$("#userGender").val(selectGender);
	}

	
	
</script>


<style>
	
	* {
		box-sizing: border-box;
		font-family: fontAwesome;
	}

	html, body {
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
	
	.bg, .bg header {
		background-color: #f2f2f2;
	}
	
	main article {
		bottom: 100px;
	}	
		
	input {
		width: 100%;
		border-radius: 20px;
		border: 1px solid #bbb;
		margin: 10px 0;
		padding: 10px 12px;
	}
	
	.form-group input {
		height: 55px;
		margin: 5px;
		width: 100%;
	}
	
	
	.btn { font-size: 18px; background-color: warning; height: 57px; margin-top:28px;}
	.btn:hover { background-color: coral; color: warning; }
	
	.id_overlap_button { 
		
		font-size: 14px; 
		background-color: warning; 
		height: 40px; 
		margin-top:10px;
	}
	
	.id_overlap_button:hover { 
		color: warning; 
		background-color: coral;
	}
	
	.atag {
		text-align: center;
	}
	
	
	#footer {
		position:absolute;
		width: 100%;
		height: 10%;
		text-align: center;
		color: light;
	}
	
	/* 중복아이디 존재하지 않는경우 */
	#id_input_re_1{
		color : #28BD22;
		display : none;
		font-weight: bold;
	}
	/* 중복아이디 존재하는 경우 */
	#id_input_re_2{
		color : #d92742;
		display : none;
		font-weight: bold;
		
	}
	
	#image_preview2 {
		width: 150px;
		height: 150px; 
		border-radius: 70%;
		overflow: hidden;
		text-align: center;
	}

	#img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	} 
	
</style>



</head>

<body class="bg">
	<header class="jumbotron">
		<div class="mx-auto">
			<div class="text-center mx-auto mt-3 mb-5">
				<div class="col-md">
					<a class="display-4 text-warning" style="font-size: 4em; font-weight: bold; text-decoration: none;" href="/second">HOME recipe</a>
				</div>
			</div>
		</div>
	</header>
	
	<main class="container">
		<section class="row">
			<article class="col-sm-6 mx-auto">
				<form id="frm" name="frm" action="/second/SecondJoin" method="POST">
					<!-- userId, userPw, userYear, userGender, userComment, fileName,  -->
					
					<div class="form-group">
						<label for="userId" class="ml-1">아이디</label>
						
						<span class="pt-2 ml-1" style="color: #d92742; font-size: 12px; float: right;">필수입력정보입니다.</span>
						<span class="pt-1" style="color: #d92742; font-weight: bold; font-size: 20px; float: right;">*</span>
						<input type="text" class="form-control" id="userId" name="userId" placeholder="* id">
						<div class="check_font ml-2" id="id_check"></div>
						<span id="id_input_re_1" class="ml-2">사용 가능한 아이디입니다.</span>
						<span id="id_input_re_2" class="ml-2">아이디가 이미 존재합니다.</span>
					</div>
					<div class="form-group">
						<label for="userPw" class="ml-1">비밀번호</label>
						<input type="password" class="form-control" id="userPw" name="userPw" placeholder="* password">
						<div class="check_font ml-2" id="pw_check"></div>
					</div>
					<div class="form-group">
						<label for="pwCheck" class="ml-1">비밀번호 확인</label>
						<input type="password" class="form-control" id="pwCheck" name="pwCheck" placeholder="* password" onclick="pwConfirm()">
						<div class="check_font ml-2" id="pw2_check"></div>
						<span id="alert-success" style="display: none; color: #28BD22; font-weight: bold; " class="ml-2">비밀번호가 일치합니다.</span>
						<span id="alert-danger" style="display: none; color: #d92742; font-weight: bold; " class="ml-2">비밀번호가 일치하지 않습니다.</span>
					</div>
					<div class="form-group">
						<label for="userYear" class="ml-1">생년월일</label>
						<input type="text" class="form-control" id="datePicker" name="userYear" placeholder="선택하세요">
						<div class="check_font ml-2" id="birth_check"></div>
					</div>
					<div class="form-group">
						<label for="userPhone" class="ml-1">휴대전화</label>
						<input type="text" class="form-control" id="userPhone" name="userPhone" placeholder="* '-'을 제외한 숫자 11자리를 입력하세요" maxlength="13">
						<div class="check_font ml-2" id="phone_check"></div>
					</div>
					<div class="form-group">
						<label for="userGender" class="ml-1">성별</label>
						<input type="hidden" name="userGender" id="userGender">
						<select class="form-control flex-fill" id="userGenderSel" onchange="javascript:selectGender();">
							<option value="" selected disabled hidden>* 선택하세요</option>
							<option value="남성">남성</option>
							<option value="여성">여성</option>
						</select>
					</div>
					<div class="form-group">
						<label for="image">프로필 사진</label>
						<br>
						<input type="file" class="form-controll" name="fileName" id="fileName">
					</div>
					<div id="image_preview" style="display: none;">
						<div id="image_preview2">
							<img id="img" src="#"/>
						</div>
						<br>
						<a href="#" style="font-size: 1em; font-weight: bold; text-decoration: none; color: #FF7F50;" class="ml-4 pl-2">이미지삭제</a>
					</div>
					<div class="form-group">
					<br>
						<label for="userComment">한줄 소개</label>
						<textarea id="userComment" name="userComment" class="form-control" cols="30" rows="5" placeholder="내용을 입력하세요"></textarea>
					</div>
					<button type="submit" class="btn btn-warning btn-block text-white form-control" id="submit">가입하기</button>
				</form>
			</article>
		</section>
	</main>
	
	<footer class="jumbotron">
		<div class="container">
			<h5 class="text-center text-light">made by HOME recipe</h5>
		</div>
	</footer>
	
	<!-- 생년월일 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js"></script>
	
	<script type="text/javascript">
	
	/* 프로필 사진 */
	$('#fileName').on('change', function() {
		
		ext = $(this).val().split('.').pop().toLowerCase(); //확장자
		
		//배열에 추출한 확장자가 존재하는지 체크
		if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
			resetFormElement($(this)); //폼 초기화
			window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
		}
		else {
			file = $('#fileName').prop("files")[0];
			blobURL = window.URL.createObjectURL(file);
			$('#image_preview').css("display","inline-block");
			$('#image_preview img').attr('src', blobURL);
			$('#image_preview').slideDown(); //업로드한 이미지 미리보기 
			$(this).css("display","none"); //파일 양식 감춤
			
		}
	});
	/* 이미지 삭제 버튼 */
	$('#image_preview a').bind('click', function() {
		resetFormElement($('#fileName')); //전달한 양식 초기화
		$('#fileName').slideDown(); //파일 양식 보여줌
		$(this).parent().slideUp(); //미리 보기 영역 감춤
		return false; //기본 이벤트 막음
	});
	/** 폼요소 초기화 */
	function resetFormElement(e) {
		e.wrap('<form>').closest('form').get(0).reset(); 
		//리셋하려는 폼양식 요소를 폼(<form>) 으로 감싸고 (wrap()) , 
		//요소를 감싸고 있는 가장 가까운 폼( closest('form')) 에서 Dom요소를 반환받고 ( get(0) ),
		//DOM에서 제공하는 초기화 메서드 reset()을 호출
		e.unwrap(); //감싼 <form> 태그를 제거
	}
	
	
	/* 전화번호 - 자동 입력 */
	var autoHypenPhone = function(str) {
		
		str = str.replace(/[^0-9]/g, '');
		var tmp = '';
		if ( str.length < 4){
			return str;
		}
		else if (str.length < 7) {
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3);
			return tmp;
		}
		else if (str.length < 11) {
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 3);
			tmp += '-';
			tmp += str.substr(6);
			return tmp;
		}
		else {
			tmp += str.substr(0, 3);
			tmp += '-';
			tmp += str.substr(3, 4);
			tmp += '-';
			tmp += str.substr(7);
			return tmp;
		}
		
		return str;
	}

	var userPhone = document.getElementById('userPhone');
	
	userPhone.onkeyup = function(){
		console.log(this.value);
		this.value = autoHypenPhone( this.value ) ;
	}
	
	
	//모든 공백 체크 정규식
	var empJ = /\s/g;
	//아이디 정규식 - a~z, 0~9로 시작하는 5~12 자리 아이디 가능
	var idJ = /^[a-z0-9]{5,12}$/;
	// 비밀번호 정규식 - A~Z, a~z, 0~9로 시작하는 4~12 자리 비밀번호 가능
	var pwJ = /^[A-Za-z0-9]{6,12}$/;
	// 휴대폰 번호 정규식
	var phoneJ = /^01([0|1|6|7|8|9]?)-([0-9]{3,4})-([0-9]{4})$/;
	
	// 비밀번호 정규식 체크
	$('#userPw').blur(function() {
		if (pwJ.test($('#userPw').val())) {
			console.log('true');
			$('#pw_check').text('');
		}
		else {
			console.log('false');
			$('#pw_check').text('숫자 or 문자로만 6~12자리 입력하세요.');
			$('#pw_check').css('color', '#d92742');
			$('#pw_check').css('font-weight', 'bold');
		}
	});
		
	// 아이디 정규식 체크
	$('#userId').blur(function() {
		if (idJ.test($('#userId').val())) {
			console.log('true');
			$('#id_check').text('');
			
			//아이디 중복검사
			var userId = $('#userId').val();
			var data = {userId : userId}
			
			//아이디 중복 시 버튼 비활성화
			function btnActive() {
				const target = document.getElementById('submit');
				target.disabled = false;
			}
			
			function btnDisabled() {
				const target = document.getElementById('submit');
				target.disabled = true;
			}
			
			$.ajax({
				type : "post",
				url : "/second/idCheck",
				data : data,
				success : function(result){
					
					if(result != 'fail'){
						$('#id_input_re_1').css("display","inline-block");
						$('#id_input_re_2').css("display", "none");
						btnActive();
					}
					
					else {
						$('#id_input_re_2').css("display","inline-block");
						$('#id_input_re_1').css("display", "none");
						btnDisabled();
					}
					
				}
			});
		}
		else {
			console.log('false');
			$('#id_check').text('영소문자 or 숫자로만 5~12자리 입력하세요.');
			$('#id_check').css('color', '#d92742');
			$('#id_check').css('font-weight', 'bold');
			$('#id_input_re_2').css("display","none");
			$('#id_input_re_1').css("display", "none");
		}
	});
	
	
	// 휴대전화
	$('#userPhone').blur(function(){
		if(phoneJ.test($(this).val())){
			console.log(phoneJ.test($(this).val()));
			$("#phone_check").text('');
		} else {
			$('#phone_check').text('번호를 다시 확인해주세요.');
			$('#phone_check').css('color', '#d92742');
			$('#phone_check').css('font-weight', 'bold');
		}
	});
	
	
	// 가입하기 실행 버튼 유효성 검사
	var inval_Arr = new Array(4).fill(false);
	$('#submit').click(function(){
		// 비밀번호가 같은 경우 && 비밀번호 정규식
		if (($('#userPw').val() == ($('#pwCheck').val()))
				&& pwJ.test($('#userPw').val())) {
			inval_Arr[0] = true;
		} 
		else {
			inval_Arr[0] = false;
		}
		console.log(inval_Arr[0]);
		// 아이디 정규식
		if (idJ.test($('#userId').val())) {
			inval_Arr[1] = true;
		} 
		else {
			inval_Arr[1] = false;
		}
		console.log(inval_Arr[1]);
		// 휴대전화 정규식
		if (phoneJ.test($('#userPhone').val())) {
			console.log(phoneJ.test($('#userPhone').val()));
			inval_Arr[2] = true;
		} 
		else {
			inval_Arr[2] = false;
		}
		console.log(inval_Arr[2]);
		// 성별 정규식
		var valGender = $("#userGender").val();
		if (!valGender) {
			console.log(valGender);
			inval_Arr[3] = false;
		} 
		else {
			inval_Arr[3] = true;
		}
		console.log(inval_Arr[3]);
		var validAll = true;
		for(var i = 0; i < inval_Arr.length; i++){
			
			if(inval_Arr[i] == false){
				validAll = false;
			}
		}
		
		console.log(validAll);
		
		if(validAll){ // 유효성 모두 통과
			alert('가입 성공했습니다.');
			
		} 
		else{
			alert('입력한 정보들을 다시 한번 확인해주세요.');
			return false;
		}
	});
	</script>
</body>
</html>






